@font-face {
    font-family: 'invasion';
    src: url('../font/INVASION2000.TTF');
}

body {
    margin: 0 auto;
}


#myCanvas {
    height: 100vh;
    width: 100vw;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png);
    background-size: 100% 100%;
}